[Unit]
Description={{ service_name }} - Service to create database dumps
Documentation=https://gitlab.com/micro-entreprise/docker-volume-dump
After=network.target

[Service]
User=root
Type=oneshot
RemainAfterExit=False
WorkingDirectory={{ wd }}
Environment="SHELL=/bin/bash"
ExecStartPre=printenv
ExecStartPre=-docker compose -f {{ compose }} down -v
ExecStartPre=docker compose -f {{ compose }} up -d
ExecStartPre=docker compose -f {{ compose }} exec -T db-pg-anonymizer sh -c "while ! psql -U anouser -d dbano -c 'select 1'; do sleep 1; done;"
# I think something goes wrong with the dalibo/postgresql_anonymizer postgresl docker image
ExecStartPre=/bin/sleep 3
ExecStart={{ venv }}/bin/hosting-anonymizer -w "docker compose -f {{ compose }} exec -T db-pg-anonymizer bash -c \'{command}\'" --force-overwrite --extra-pg-restore " -x " --extra-pg-dump "--no-security-labels -Fc -O" -d dbano -U anouser {{ in_path }} {{ sql_script }} {{ out_path }}
ExecStop={%- if bucket_path %}{{ venv }}/bin/s3cmd -c {{ s3cfg_path }} put {{ out_path }} {{ bucket_path }}{% endif %}
{%- if prom_gateway_uri %}
ExecStop=hosting-prom-notify {%- if prom_gateway_pwd %} --prometheus-password {{ prom_gateway_pwd }}{% endif %} {%- if prom_gateway_user %} --prometheus-user {{ prom_gateway_user }}{% endif %} {{ prom_gateway_uri }} "{{ service_name }}"
{%- endif %}
ExecStopPost=-docker compose -f {{ compose }} down -v
