services:
  db-pg-anonymizer:
    image: {{ image }}:{{ version }}
    environment:
      POSTGRES_DB: dbano
      POSTGRES_USER: anouser
      POSTGRES_PASSWORD: anopassword
      POSTGRES_HOST_AUTH_METHOD: trust
    working_dir: {{ wd }}
    volumes:
      - ./:{{ wd }}
