[Unit]
Description={{ service_name }} - Daily anonymizer from {{ in_path }} to {{ out_path }}

[Timer]
OnCalendar={{ on_calendar }}
RandomizedDelaySec=3600
Persistent=true
Unit={{ service_name }}.service 

[Install]
WantedBy=timers.target
