[AnyBlok]
db_driver_name = postgresql
install_or_update_bloks = {{ bloks }}
wsgi_port = 5000
db_host = db
db_port = 5432
db_name = {{ anyblok_pg_db }}
db_user_name = {{ anyblok_pg_user }}
db_password = {{ anyblok_pg_password }}
isolation_level=REPEATABLE_READ
