[[servers]]
# Ldap server host (specify multiple hosts space separated)
host = "{{ ldap_host }}"
# Default port is 389 or 636 if use_ssl = true
port = 636
# Set to true if LDAP server should use an encrypted TLS connection (either with STARTTLS or LDAPS)
use_ssl = true
# If set to true, use LDAP with STARTTLS instead of LDAPS
start_tls = false
# set to true if you want to skip SSL cert validation
ssl_skip_verify = false
# set to the path to your root CA certificate or leave unset to use system defaults
# root_ca_cert = "/path/to/certificate.crt"
# Authentication against LDAP servers requiring client certificates
# client_cert = "/path/to/client.crt"
# client_key = "/path/to/client.key"

# Search user bind dn
bind_dn = "{{ bind_dn }}"
# Search user bind password
# If the password contains # or ; you have to wrap it with triple quotes. Ex """#password;"""
bind_password = '{{bind_dn_password}}'

# User search filter, for example "(cn=%s)" or "(sAMAccountName=%s)" or "(uid=%s)"
# Allow login from email or username, example "(|(sAMAccountName=%s)(userPrincipalName=%s))"
search_filter = "{{search_user_filter}}"

# An array of base dns to search through
search_base_dns = ["{{base_dn}}"]

# group_search_filter = "(&(objectClass=posixGroup)(memberUid=%s))"
# group_search_filter_user_attribute = "distinguishedName"
# group_search_base_dns = ["ou=groups,dc=grafana,dc=org"]

# Specify names of the LDAP attributes your LDAP uses
[servers.attributes]
member_of = "memberOf"
email =  "mail"
username = "uid"
name = "displayName"
surname = "sn"

[[servers.group_mappings]]
group_dn = "cn=supervision_admin,ou=groups,dc=enrjsolaire,dc=com"
org_role = "Admin"
grafana_admin = true # Available in Grafana v5.3 and above

[[servers.group_mappings]]
group_dn = "cn=supervision_editor,ou=groups,dc=enrjsolaire,dc=com"
org_role = "Editor"

[[servers.group_mappings]]
group_dn = "cn=supervision_viewer,ou=groups,dc=enrjsolaire,dc=com"
org_role = "Viewer"
