services:

  frontend:
    image: {{ anyblok_frontend_image }}:{{ anyblok_frontend_image_version }}
    restart: unless-stopped
    networks:
      backend:
      traefik:
        aliases:
          - {{ domain }}
    environment:
      HTTP_HOST: ":80"
      BACKEND_ALIAS: {{ backend_alias }}
    expose:
      - 80
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.anyblok.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.anyblok.priority=1"
      - "traefik.http.routers.anyblok.tls=true"
      - "traefik.http.routers.anyblok.tls.certresolver=leresolver"
      - "traefik.http.routers.anyblok.entrypoints=web, websecure"
{%- if users %}
      - "traefik.http.routers.anyblok.middlewares=anyblok-headers,anyblok-auth"
      - "traefik.http.middlewares.anyblok-auth.basicauth.users={{ users }}"
{%- else %}
      - "traefik.http.routers.anyblok.middlewares=anyblok-headers"
{%- endif %}
      - "traefik.http.routers.anyblok.service=anyblok-service"
      - "traefik.http.middlewares.anyblok-headers.headers.stsSeconds=31536000"
      - "traefik.http.middlewares.anyblok-headers.headers.stsPreload=true"
      - "traefik.http.middlewares.anyblok-headers.headers.stsIncludeSubdomains=true"
      - "traefik.http.services.anyblok-service.loadbalancer.server.port=80"

  anyblok:
    image: {{ anyblok_image }}:{{ anyblok_image_version }}
    restart: unless-stopped
    environment:
{%- if cups_required %}
      CUPS_HOST: "/run/cups/cups.sock"
{%- endif %}
      SESSION_HTTPS_ONLY: 1
      SESSION_SECRET_KEY: {{ backend_session_secret_key }}
    volumes:
      - ./anyblok.cfg:/etc/anyblok.cfg
{%- if cups_required %}
      - cups_run:/run/cups/
{%- endif %}
    networks:
      backend:
        aliases:
          - {{ backend_alias }}
    expose:
      - 5000


  db:
    image: {{ postgres_image }}:{{ postgres_image_version }}
    restart: unless-stopped
    environment:
        # anyblok create database on creation if needs
        # empty_do_not_remove used to ensure pgsql is ready
        POSTGRES_DB: empty_do_not_remove
        POSTGRES_USER: {{ anyblok_pg_user }}
        POSTGRES_PASSWORD: {{ anyblok_pg_password }}
    volumes:
      - ./pgdata:/var/lib/postgresql/data/
      - ./pg_init:/docker-entrypoint-initdb.d/
      - ./pg_dumps/:/pg_dumps/
    networks:
      - backend
    labels:
      docker-volume-dump.project: "{{ domain }}"
      docker-volume-dump.dbname: "{{ anyblok_pg_db }}"
      docker-volume-dump.username: "{{ anyblok_pg_user }}"

  dashboard:
    image: {{ grafana_image }}:{{ grafana_image_version }}
    restart: unless-stopped
    environment:
      GF_SERVER_DOMAIN: {{ grafana_domain }}
      GF_SERVER_ROOT_URL: https://{{ grafana_domain }}
      GF_DATABASE_TYPE: postgres
      GF_DATABASE_HOST: grafanadb
      GF_DATABASE_NAME: grafana
      GF_DATABASE_USER: grafana
      GF_DATABASE_PASSWORD: grafanapwd
      GF_DATABASE_SSL_MODE: disable
{%- if grafana_ldap_enabled %}
      GF_AUTH_LDAP_ENABLED: "true"
      GF_AUTH_LDAP_ALLOW_SIGN_UP: "true"
      GF_USERS_LOGIN_HINT: "Login"
      GF_AUTH_LDAP_CONFIG_FILE: "/etc/grafana/ldap.toml"
{%- endif %}
      GF_LIVE_ALLOWED_ORIGINS: "https://{{ grafana_domain }}"
      GF_INSTALL_PLUGINS: "grafana-clock-panel,dalvany-image-panel"
      GF_RENDERING_SERVER_URL: "http://grafana_renderer:8081/render"
      GF_RENDERING_CALLBACK_URL: "https://{{ grafana_domain }}"
{%- if grafana_smtp_enabled %}
      GF_SMTP_ENABLED: "true"
      GF_SMTP_FROM_ADDRESS: "{{ grafana_smtp_from_address }}"
      GF_SMTP_FROM_NAME: "{{ grafana_smtp_from_name }}"
      GF_SMTP_HOST: "{{ grafana_smtp_host }}"
      GF_SMTP_USER: "{{ grafana_smtp_user }}"
      GF_SMTP_PASSWORD: "{{ grafana_smtp_password }}"
      GF_SMTP_STARTTLS_POLICY: "{{ grafana_smtp_starttls_policy }}"
      # GF_SMTP_SKIP_VERIFY	false
{%- endif %}
    networks:
      backend:
      traefik:
      grafana:
    volumes:
      - ./grafana_data:/var/lib/grafana
{%- if grafana_ldap_enabled %}
      - ./grafana_ldap.toml:/etc/grafana/ldap.toml
{%- endif %}
    expose:
      - 3000
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.grafana.rule=Host(`{{ grafana_domain }}`)"
      - "traefik.http.routers.grafana.tls=true"
      - "traefik.http.routers.grafana.tls.certresolver=leresolver"
      - "traefik.http.routers.grafana.entrypoints=web, websecure"
      - "traefik.http.routers.grafana.service=grafana-service"
      - "traefik.http.services.grafana-service.loadbalancer.server.port=3000"

  grafana_renderer:
    image: grafana/grafana-image-renderer:latest
    restart: unless-stopped
    expose:
      - 8081
    networks:
      - grafana

  grafana-slides-content:
    image: nginx:alpine
    restart: unless-stopped
    networks:
      - traefik
    volumes:
      - ./slides_contents:/usr/share/nginx/html/slides-content:ro
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.grafana-slides.rule=Host(`{{ grafana_domain }}`) && PathPrefix(`/slides-content`)"
      - "traefik.http.routers.grafana-slides.tls=true"
      - "traefik.http.routers.grafana-slides.tls.certresolver=leresolver"
      - "traefik.http.routers.grafana-slides.entrypoints=web, websecure"

  grafanadb:
    image: {{ postgres_image }}:{{ postgres_image_version }}
    restart: unless-stopped
    environment:
        POSTGRES_DB: grafana
        POSTGRES_USER: grafana
        POSTGRES_PASSWORD: grafanapwd
    volumes:
      - ./grafana_pgdata:/var/lib/postgresql/data/
      # used to get list of available picture to display in grafana
      - ./slides_contents:/slide-contents:ro
    networks:
      - grafana
    labels:
      docker-volume-dump.prefix: "grafana-"
      docker-volume-dump.project: "{{ domain }}"
      docker-volume-dump.dbname: "grafana"
      docker-volume-dump.username: "grafana"

{%- if cups_required %}
  cups:
    image: registry.gitlab.com/phoenix-holding/cups-docker-image-with-driver
    restart: unless-stopped
    environment:
      ADMIN_PASSWORD: changeme
    networks:
      - traefik
    volumes:
      - cups_run:/run/cups/
      - ./cups_config/:/etc/cups
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.so-cups.rule=Host(`so-cups.recette.creawattfabrick.fr`)"
      - "traefik.http.routers.so-cups.tls=true"
      - "traefik.http.routers.so-cups.tls.certresolver=leresolver"
      - "traefik.http.routers.so-cups.entrypoints=web, websecure"
      - "traefik.http.routers.so-cups.service=so-cups-service"
      - "traefik.http.services.so-cups-service.loadbalancer.server.port=631"

volumes:
  cups_run:
{%- endif %}

networks:
  backend:
  grafana:
  traefik:
    external: true
    name: traefik
