[Unit]
Description={{ service_name }} - Daily backup using {{ filter }} filter to {{ backup_dir }}

[Timer]
OnCalendar={{ on_calendar }}
RandomizedDelaySec=3600
Persistent=true
Unit={{ service_name }}.service 

[Install]
WantedBy=timers.target
