[Unit]
Description={{ service_name }} - Service to create database dumps
Documentation=https://gitlab.com/micro-entreprise/docker-volume-dump

[Service]
User=root
Type=oneshot
RemainAfterExit=False
WorkingDirectory={{ backup_dir }}
ExecStart={{ venv }}/bin/archive -d {{ backup_dir }} -s '{{ filter }}'
{%- if prom_gateway_uri %}
ExecStartPost=hosting-prom-notify {%- if prom_gateway_pwd %} --prometheus-password {{ prom_gateway_pwd }}{% endif %} {%- if prom_gateway_user %} --prometheus-user {{ prom_gateway_user }}{% endif %} {{ prom_gateway_uri }} "{{ service_name }}"
{%- endif %}
