services:

  registry:
    restart: unless-stopped
    image: {{ image }}:{{ version }}
    environment:
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
    volumes:
      - ./registry_htpasswd:/auth/htpasswd
      - ./registry.yml:/etc/docker/registry/config.yml
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ traefik_network }}"
      - "traefik.http.routers.{{ service_name }}.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.{{ service_name }}.tls=true"
      - "traefik.http.routers.{{ service_name }}.tls.certresolver=leresolver"
      - "traefik.http.routers.{{ service_name }}.service={{ service_name }}-service"
      - "traefik.http.routers.{{ service_name }}.entrypoints=web, websecure"
      - "traefik.http.services.{{ service_name }}-service.loadbalancer.server.port=5000"

networks:
  traefik:
    external: true
    name: {{ traefik_network }}
