version: 0.1
log:
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  s3:
    accesskey: {{ s3_access_key }}
    secretkey: {{ s3_secret_key }}
    region: {{ s3_region }}
    regionendpoint: {{ s3_regionendpoint }}
    bucket: {{ s3_bucket }}
http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
