[Unit]
Description={{ service_name }} - Service to update OVH DNS entry for dynamic IP server
Documentation=https://docs.ovh.com/fr/domains/utilisation-dynhost/
After=network.target

[Service]
User=root
Type=oneshot
RemainAfterExit=False
ExecStart=/sbin/dynhost
