[Unit]
Description={{ service_name }} - DynHost for {{ dyn_domain }}

[Timer]
OnCalendar={{ on_calendar }}
RandomizedDelaySec=5
Persistent=true
Unit={{ service_name }}.service 

[Install]
WantedBy=timers.target
