#!/bin/sh

IP=`wget -q -O - checkip.dyndns.org|sed -e 's/.*Current IP Address: //' -e 's/<.*$//'`
echo "The current IP is: " + $IP

echo "Updating DNS {{dyn_domain}} on OVH..."
wget -qO- \
    --http-user="{{dyn_user}}" \
    --http-password="{{dyn_password}}" \
    "https://www.ovh.com/nic/update?system=dyndns&hostname={{dyn_domain}}&myip=$IP"
