
services:

  ghost:
    image: {{ ghost_image }}:{{ ghost_image_version }}
    restart: always
    environment:
      # see https://docs.ghost.org/docs/config#section-running-ghost-with-config-env-variables
      database__client: mysql
      database__connection__host: db
      database__connection__user: {{ database_user }}
      database__connection__password: {{ database_password }}
      database__connection__database: {{ database_name }}
      NODE_ENV: production node index.js
      url: https://{{ domain }}
      server__host: 0.0.0.0  
      {%- for key, value in ghost_options.items() %}
      {{ key }}: "{{ value }}"
      {%- endfor %}
    volumes:
      - ./content:/var/lib/ghost/current/content
    networks:
      - backend
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.ghost-{{domain.replace(".", "-")}}.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.ghost-{{domain.replace(".", "-")}}.priority=1"
      - "traefik.http.routers.ghost-{{domain.replace(".", "-")}}.tls=true"
      - "traefik.http.routers.ghost-{{domain.replace(".", "-")}}.tls.certresolver=leresolver"
      - "traefik.http.routers.ghost-{{domain.replace(".", "-")}}.entrypoints=web, websecure"
      - "traefik.http.routers.ghost-{{domain.replace(".", "-")}}.service=ghost-service-{{domain.replace(".", "-")}}"
    {%- if ghost_basic_auth %}
      - "traefik.http.routers.ghost-{{domain.replace(".", "-")}}.middlewares=ghost-{{domain.replace(".", "-")}}-auth"
      # use basic auth to avoid duplicate content on website
      - "traefik.http.middlewares.ghost-{{domain.replace(".", "-")}}-auth.basicauth.users={{ ghost_basic_auth }}"
    {%- endif %}
      - "traefik.http.services.ghost-service-{{domain.replace(".", "-")}}.loadbalancer.server.port=2368"
      - "docker-volume-dump.project={{ domain }}"
      - "docker-volume-dump.driver=rsync"

  db:
    image: mysql:8.1
    restart: always
    environment:
      MYSQL_DATABASE: {{ database_name }}
      MYSQL_ROOT_PASSWORD: {{ database_root_pwd }}
      MYSQL_USER: {{ database_user }}
      MYSQL_PASSWORD: {{ database_password }}
    volumes:
      - ./dbdata:/var/lib/mysql
    networks:
      - backend
    labels:
      docker-volume-dump.driver: "mysql"
      docker-volume-dump.project: "{{ domain }}"
      docker-volume-dump.dbname: "{{ database_name }}"
      docker-volume-dump.username: "{{ database_user }}"
      docker-volume-dump.password: "{{ database_password }}"

networks:
  backend:
  traefik:
    external: true
    name: traefik
