services:

  docker-runner:
    image: "{{ image }}:{{ version }}"
    restart: always
    volumes:
      - ./config.toml:/etc/gitlab-runner/config.toml
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  runner:
    driver: local
