concurrent = 4
check_interval = 3

[session_server]
  session_timeout = 1800

[[runners]]
  name = "{{ runner_name }}"
  url = "{{ url }}"
  token = "{{ token }}"
  executor = "docker"
  environment = ["DOCKER_DRIVER=overlay2"]
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
  [runners.docker]
    allowed_images=["registry.gitlab.com/micro-entreprise/*:*"]
    allowed_services = ["postgres:*", "docker:dind"]
    tls_verify = false
    image = "registry.gitlab.com/micro-entreprise/gitlab-ci-image:latest"
    privileged = true
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    cache_dir = "/cache"
    volumes = ["/certs/client", "/cache"]
    shm_size = 0
#  This would use RAM FS on /var/lib/docker
#  [runners.docker.services_tmpfs]
#      "/var/lib/docker" = "rw,noexec"
