services:

  ldap:
    image: {{ openldap_image }}:{{ openldap_image_tag }}
    restart: unless-stopped
    volumes:
      - ./ldap_backend:/var/lib/openldap
      - ./ldap_config:/etc/openldap/slapd.d
      - ./ssl:/ssl:ro
    environment:
      DOMAIN: "{{ domain_organization }}"
      ORGANIZATION: "{{ organization }}"
      LDAP_ROOT_PASSWORD: "{{ ldap_root_password }}"
      LDAP_DEFAULT_ADMIN_UID: "{{ ldap_default_admin_uid }}"
      LDAP_DEFAULT_ADMIN_PASSWORD: "{{ ldap_default_admin_password }}"
      LDAP_CERTIFICATE_PATH: "/ssl/{{ ldap_certificate }}"
      LDAP_CERTIFICATE_KEY_PATH: "/ssl/{{ ldap_certificate_key }}"
      # at the begin
      LDAP_CA_CERTIFICATE_PATH: "/ssl/{{ ldap_ca_certificate }}"
    networks:
      - traefik
    ports:
      - 636:636
    labels:
      - "docker-volume-dump.project={{ domain }}"
      - "docker-volume-dump.driver=rsync"

    # figure out was wrong with traefik
    #  - "traefik.enable=true"
    #  - "traefik.docker.network=traefik"
    #  # - "traefik.tcp.routers.ldap.rule=HostSNI(`*`)"
    #  - "traefik.tcp.routers.ldap.rule=HostSNI(`{{ domain }}`)"
    #  - "traefik.tcp.routers.ldap.entrypoints=ldap"
    #  - "traefik.tcp.routers.ldap.service=ldap"
    #  - "traefik.tcp.routers.ldap.tls.passthrough=true"
    #  - "traefik.tcp.services.ldap.loadbalancer.server.port=636"

  changeme:
    image: {{ changeme_image }}:{{ changeme_image_tag }}
    restart: unless-stopped
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.changeme.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.changeme.tls=true"
      - "traefik.http.routers.changeme.tls.certresolver=leresolver"
      - "traefik.http.routers.changeme.entrypoints=web, websecure"

networks:
  traefik:
    external: true
    name: traefik
