version: '3'
# references:
# https://docs.mattermost.com/install/install-docker.html#deploy-mattermost-on-docker-for-production-use
# and https://github.com/mattermost/docker/blob/main/docker-compose.yml

services:

  mattermost:
    image: {{ mattermost_image }}:{{ mattermost_image_version }}
    restart: unless-stopped
    environment:
        TZ: Europe/Paris
        MM_SQLSETTINGS_DRIVERNAME: postgres
        MM_SQLSETTINGS_DATASOURCE: postgres://{{ mattermost_pg_user }}:{{ mattermost_pg_password }}@mattermostdb:5432/{{ mattermost_pg_dbname }}?sslmode=disable&connect_timeout=10
        MM_BLEVESETTINGS_INDEXDIR: /mattermost/bleve-indexes
        MM_SERVICESETTINGS_SITEURL: https://{{ mattermost_domain }}
    networks:
      mattermost:
      traefik:
    volumes:
      - ./mattermost/config:/mattermost/config:rw
      - ./mattermost/data:/mattermost/data:rw
      - ./mattermost/logs:/mattermost/logs:rw
      - ./mattermost/plugins:/mattermost/plugins:rw
      - ./mattermost/client/plugins:/mattermost/client/plugins:rw
      - ./mattermost/bleve-indexes:/mattermost/bleve-indexes:rw
      # When you want to use SSO with GitLab, you have to add the cert pki chain of GitLab inside Alpine
      # to avoid Token request failed: certificate signed by unknown authority 
      # (link: https://github.com/mattermost/mattermost-server/issues/13059 and https://github.com/mattermost/docker/issues/34)
      # - <path_to_your_gitlab_pki>/pki_chain.pem:/etc/ssl/certs/pki_chain.pem:ro
    # ports:
      # direct access, mind to open port on frontend firewall (3448/udp)
      # use for call plugin https://docs.mattermost.com/configure/calls-deployment.html#network
      # - 3448:8443/udp
    expose:
      - 8065
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.mattermost.rule=Host(`{{ mattermost_domain }}`)"
      - "traefik.http.routers.mattermost.tls=true"
      - "traefik.http.routers.mattermost.tls.certresolver=leresolver"
      - "traefik.http.routers.mattermost.entrypoints=web, websecure"
      - "traefik.http.routers.mattermost.service=mattermost-service"
      - "traefik.http.services.mattermost-service.loadbalancer.server.port=8065"
      - "docker-volume-dump.project={{ mattermost_domain }}"
      - "docker-volume-dump.driver=rsync"

  mattermostdb:
    image: {{ postgres_image }}:{{ postgres_image_version }}
    restart: unless-stopped
    environment:
        TZ: Europe/Paris
        POSTGRES_DB: {{ mattermost_pg_dbname }}
        POSTGRES_USER: {{ mattermost_pg_user }}
        POSTGRES_PASSWORD: {{ mattermost_pg_password }}
    volumes:
      - ./mattermost_pgdata:/var/lib/postgresql/data/
    networks:
      - mattermost
    labels:
      docker-volume-dump.prefix: "mattermost-"
      docker-volume-dump.project: "{{ mattermost_domain }}"
      docker-volume-dump.dbname: "{{ mattermost_pg_dbname }}"
      docker-volume-dump.username: "{{ mattermost_pg_user }}"

networks:
  mattermost:
  traefik:
    external:
      name: traefik
