services:

  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.prometheus.rule=Host(`{{ prometheus_domain }}`)"
      - "traefik.http.routers.prometheus.priority=1"
      - "traefik.http.routers.prometheus.tls=true"
      - "traefik.http.routers.prometheus.tls.certresolver=leresolver"
      - "traefik.http.routers.prometheus.entrypoints=web, websecure"
      - "traefik.http.routers.prometheus.middlewares=prometheus-auth"
      - "traefik.http.middlewares.prometheus-auth.basicauth.users={{ prometheus_users }}"
      - "traefik.http.routers.prometheus.service=prometheus-service"
      - "traefik.http.services.prometheus-service.loadbalancer.server.port=9090"
    volumes:
      - ./prometheus_conf/:/etc/prometheus/
      - ./prometheus_data:/prometheus/data
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus/data'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    networks:
      - monitoring
      - traefik

  blackbox_exporter:
    image: prom/blackbox-exporter:latest
    restart: unless-stopped
    volumes:
      - ./blackbox_conf/:/etc/blackbox_exporter/
    command:
      - '--config.file=/etc/blackbox_exporter/config.yml'
    networks:
      - monitoring

  pushgateway:
    image: prom/pushgateway:latest
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.pushgateway.rule=Host(`{{ pushgateway_domain }}`)"
      - "traefik.http.routers.pushgateway.priority=1"
      - "traefik.http.routers.pushgateway.tls=true"
      - "traefik.http.routers.pushgateway.tls.certresolver=leresolver"
      - "traefik.http.routers.pushgateway.entrypoints=web, websecure"
      - "traefik.http.routers.pushgateway.middlewares=pushgateway-auth"
      - "traefik.http.middlewares.pushgateway-auth.basicauth.users={{ pushgateway_users }}"
      - "traefik.http.routers.pushgateway.service=pushgateway-service"
      - "traefik.http.services.pushgateway-service.loadbalancer.server.port=9091"
    networks:
      - monitoring
      - traefik

  grafana:
    image: {{ grafana_image }}:{{ grafana_image_version }}
    restart: unless-stopped
    environment:
      GF_SERVER_DOMAIN: {{ grafana_domain }}
      GF_SERVER_ROOT_URL: https://{{ grafana_domain }}
      GF_DATABASE_TYPE: postgres
      GF_DATABASE_HOST: grafanadb
      GF_DATABASE_NAME: grafana
      GF_DATABASE_USER: grafana
      GF_DATABASE_PASSWORD: grafanapwd
      GF_DATABASE_SSL_MODE: disable
{%- if grafana_ldap_enabled %}
      GF_AUTH_LDAP_ENABLED: "true"
      GF_AUTH_LDAP_ALLOW_SIGN_UP: "true"
      GF_USERS_LOGIN_HINT: "Login"
      GF_AUTH_LDAP_CONFIG_FILE: "/etc/grafana/ldap.toml"
{%- endif %}
      GF_LIVE_ALLOWED_ORIGINS: "https://{{ grafana_domain }}"
      GF_INSTALL_PLUGINS: "grafana-clock-panel,dalvany-image-panel"
      GF_RENDERING_SERVER_URL: "http://grafana_renderer:8081/render"
      GF_RENDERING_CALLBACK_URL: "https://{{ grafana_domain }}"
{%- if grafana_smtp_enabled %}
      GF_SMTP_ENABLED: "true"
      GF_SMTP_FROM_ADDRESS: "{{ grafana_smtp_from_address }}"
      GF_SMTP_FROM_NAME: "{{ grafana_smtp_from_name }}"
      GF_SMTP_HOST: "{{ grafana_smtp_host }}"
      GF_SMTP_USER: "{{ grafana_smtp_user }}"
      GF_SMTP_PASSWORD: "{{ grafana_smtp_password }}"
      GF_SMTP_STARTTLS_POLICY: "{{ grafana_smtp_starttls_policy }}"
      # GF_SMTP_SKIP_VERIFY	false
{%- endif %}
    networks:
      monitoring:
      traefik:
      grafana:
    volumes:
      - ./grafana_data:/var/lib/grafana
{%- if grafana_ldap_enabled %}
      - ./grafana_ldap.toml:/etc/grafana/ldap.toml
{%- endif %}
    expose:
      - 3000
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.grafana.rule=Host(`{{ grafana_domain }}`)"
      - "traefik.http.routers.grafana.tls=true"
      - "traefik.http.routers.grafana.tls.certresolver=leresolver"
      - "traefik.http.routers.grafana.entrypoints=web, websecure"
      - "traefik.http.routers.grafana.service=grafana-service"
      - "traefik.http.services.grafana-service.loadbalancer.server.port=3000"

  grafana_renderer:
    image: grafana/grafana-image-renderer:latest
    restart: unless-stopped
    expose:
      - 8081
    networks:
      - grafana

  grafanadb:
    image: {{ postgres_image }}:{{ postgres_image_version }}
    restart: unless-stopped
    environment:
        POSTGRES_DB: grafana
        POSTGRES_USER: grafana
        POSTGRES_PASSWORD: grafanapwd
    volumes:
      - ./grafana_pgdata:/var/lib/postgresql/data/
    networks:
      - grafana
    labels:
      docker-volume-dump.prefix: "grafana-"
      docker-volume-dump.project: "{{ grafana_domain }}"
      docker-volume-dump.dbname: "grafana"
      docker-volume-dump.username: "grafana"

networks:
  monitoring:
  grafana:
  traefik:
    external: true
    name: traefik
