services:
  engine:
    image: {{ nextcloud_image }}:{{ nextcloud_image_version }}
    restart: unless-stopped
    depends_on:
      - db
    volumes:
      - ./files:/var/www/html/
      - ./opcache.ini:/usr/local/etc/php/conf.d/opcache-recommended.ini
    networks:
      - backend
      - traefik
    environment:  
      - POSTGRES_HOST=db
      - POSTGRES_PASSWORD={{ nextcloud_pg_password }}
      - POSTGRES_USER={{ nextcloud_pg_user }}
      - POSTGRES_DB={{ nextcloud_pg_db }}
      - PHP_UPLOAD_LIMIT=1024M
      - PHP_MEMORY_LIMIT=1024M
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ traefik_network }}"
      - "traefik.http.routers.nextcloud.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.routers.nextcloud.tls.certresolver=leresolver"
      - "traefik.http.routers.nextcloud.entrypoints=web, websecure"
      - "traefik.http.routers.nextcloud.middlewares=nextcloud-redirectregex,nextcloud-headers"
      - "traefik.http.middlewares.nextcloud-redirectregex.redirectregex.regex=https://(.*)/.well-known/(card|cal)dav"
      - "traefik.http.middlewares.nextcloud-redirectregex.redirectregex.replacement=https://$${1}/remote.php/dav/"
      - "traefik.http.middlewares.nextcloud-redirectregex.redirectregex.permanent=true"
      - "traefik.http.middlewares.nextcloud-headers.headers.stsSeconds=31536000"
      - "traefik.http.middlewares.nextcloud-headers.headers.stsPreload=true"
      - "traefik.http.middlewares.nextcloud-headers.headers.stsIncludeSubdomains=true"
      - "traefik.http.routers.nextcloud.service=nextcloud-service"
      - "traefik.http.services.nextcloud-service.loadbalancer.server.port=80"
      - "docker-volume-dump.project={{ domain }}"
      - "docker-volume-dump.driver=rsync"

  cron:
    image: {{ nextcloud_image }}:{{ nextcloud_image_version }}
    restart: unless-stopped
    depends_on:
      - engine
    volumes:
      - ./files:/var/www/html/
      - ./opcache.ini:/usr/local/etc/php/conf.d/opcache-recommended.ini
    networks:
      - backend
    entrypoint: |
      bash -c 'bash -s <<EOF
      trap "exit 0" INT EXIT SIGKILL
      while [ true ]; do
          echo "Wait 180s before running Cron `date`"
          sleep 180
          su --whitelist-environment=PHP_MEMORY_LIMIT - www-data -s /bin/bash -c "php /var/www/html/cron.php"
      done
      EOF'

  db:
    image: postgres:13
    restart: unless-stopped
    environment:
        POSTGRES_DB: {{ nextcloud_pg_db }}
        POSTGRES_USER: {{ nextcloud_pg_user }}
        POSTGRES_PASSWORD: {{ nextcloud_pg_password }}
    volumes:
      - ./pgdata:/var/lib/postgresql/data/
    networks:
      - backend
    labels:
      docker-volume-dump.project: "{{ domain }}"
      docker-volume-dump.dbname: "{{ nextcloud_pg_db }}"
      docker-volume-dump.username: "{{ nextcloud_pg_user }}"

networks:
  backend:
  traefik:
    external: true
    name: {{ traefik_network }}
