
services:
  odoo:
    image: {{ odoo_image }}:{{ odoo_image_version }}
    restart: unless-stopped
    volumes:
    {%- if odoo_external_wkhtml_container %}
      - ./filestore:/data/odoo/filestore
    {%- else %}
      - ./filestore:/var/lib/odoo/filestore
      - ./odoo.cfg:/etc/odoo.cfg
    {%- endif %}
    command: ["odoo", "-c", "/etc/odoo.cfg"]
    networks:
      - backend
      - traefik
    {%- if odoo_external_wkhtml_container %}
      - kwkhtmltopdf
    {%- endif %}
    environment:
    {%- if odoo_external_wkhtml_container %}
      - DB_HOST=db
      - DB_PASSWORD={{ odoo_pg_password }}
      - DB_USER={{ odoo_pg_user }}
      - DB_NAME={{ odoo_pg_db }}
      - UNACCENT=True
      - |
        ADDITIONAL_ODOO_RC=
        {%- for line in custom_config %}
        {{ line }}
        {%- endfor %}
      - WORKERS={{ odoo_workers }}
      - MAX_CRON_THREADS={{ odoo_max_cron_threads }}
      - LIST_DB=False
      - WITHOUT_DEMO=True
      - KWKHTMLTOPDF_SERVER_URL=http://kwkhtmltopdf:8080
      - ODOO_REPORT_URL=http://odoo:8069
      - RUNNING_ENV={{ running_env }}
      - ADMIN_PASSWD={{ master_password }}
      - SERVER_WIDE_MODULES={{odoo_server_wide_modules}}
      # - DB_MAXCONN=
      # - DB_MAXCONN_GEVENT=
      # - LIMIT_MEMORY_SOFT=
      # - LIMIT_MEMORY_SOFT_GEVENT=
      # - LIMIT_MEMORY_HARD=
      # - LIMIT_MEMORY_HARD_GEVENT=
      # - LIMIT_REQUEST=
      # - LIMIT_TIME_CPU=
      # - LIMIT_TIME_REAL=
      # - LIMIT_TIME_REAL_CRON=
      # - LOG_HANDLER=
      # - LOG_LEVEL=
      # - LOGFILE
      # - LOG_DB
    {%- else %}
      - POSTGRES_HOST=db
      - POSTGRES_PASSWORD={{ odoo_pg_password }}
      - POSTGRES_USER={{ odoo_pg_user }}
      - POSTGRES_DB={{ odoo_pg_db }}
    {%- endif %}
    expose:
      - 8069
      - 8072
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}.rule=Host(`{{ domain }}`){%- if extra_host_rule %} {{ extra_host_rule }} {%- endif %}"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}.priority=1"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}.tls=true"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}.tls.certresolver=leresolver"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}.entrypoints=web, websecure"
    {%- if odoo_basic_auth %}
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}.middlewares=odoo-{{ domain|replace('.', '-') }}-headers,automatic-db-selection-{{ domain|replace('.', '-') }},odoo-{{ domain|replace('.', '-') }}-auth"
      # use basic auth to avoid duplicate content on website
      - "traefik.http.middlewares.odoo-{{ domain|replace('.', '-') }}-auth.basicauth.users={{ odoo_basic_auth }}"
    {%- else %}
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}.middlewares=odoo-{{ domain|replace('.', '-') }}-headers,automatic-db-selection-{{ domain|replace('.', '-') }}"
    {%- endif %}
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}.service=odoo-{{ domain|replace('.', '-') }}-service"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}-longpolling.rule=Host(`{{ domain }}`) && PathPrefix(`/longpolling`)"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}-longpolling.priority=3"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}-longpolling.tls=true"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}-longpolling.tls.certresolver=leresolver"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}-longpolling.entrypoints=web, websecure"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}-longpolling.middlewares=odoo-{{ domain|replace('.', '-') }}-headers"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}-longpolling.service=odoo-{{ domain|replace('.', '-') }}-longpolling-service"
      - "traefik.http.middlewares.odoo-{{ domain|replace('.', '-') }}-headers.headers.stsSeconds=31536000"
      - "traefik.http.middlewares.odoo-{{ domain|replace('.', '-') }}-headers.headers.stsPreload=true"
      - "traefik.http.middlewares.odoo-{{ domain|replace('.', '-') }}-headers.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.automatic-db-selection-{{ domain|replace('.', '-') }}.redirectregex.regex=^https://{{ domain }}/web/database/selector"
      - "traefik.http.middlewares.automatic-db-selection-{{ domain|replace('.', '-') }}.redirectregex.replacement=https://{{ domain }}?db={{ odoo_pg_db }}"
      - "traefik.http.middlewares.automatic-db-selection-{{ domain|replace('.', '-') }}.redirectregex.permanent=true"
      - "traefik.http.services.odoo-{{ domain|replace('.', '-') }}-service.loadbalancer.server.port=8069"
      - "traefik.http.services.odoo-{{ domain|replace('.', '-') }}-longpolling-service.loadbalancer.server.port=8072"
      - "docker-volume-dump.project={{ domain }}"
      - "docker-volume-dump.driver=rsync"

{%- if odoo_external_wkhtml_container %}
  kwkhtmltopdf:
    image: ghcr.io/acsone/kwkhtmltopdf:0.12.5-latest
    networks:
      - kwkhtmltopdf
{%- endif %}

{% if with_queue_job %}
  queue:
    image: {{ odoo_image }}:{{ odoo_image_version }}
    restart: unless-stopped
    volumes:
    {%- if odoo_external_wkhtml_container %}
      - ./filestore:/data/odoo/filestore
    {%- else %}
      - ./filestore:/var/lib/odoo/filestore
      - ./odoo_queue_job.cfg:/etc/odoo.cfg
    {%- endif %}
    command: ["odoo", "-c", "/etc/odoo.cfg"]
    networks:
      - backend
    environment:
    {%- if odoo_external_wkhtml_container %}
      - DB_HOST=db
      - DB_PASSWORD={{ odoo_pg_password }}
      - DB_USER={{ odoo_pg_user }}
      - DB_NAME={{ odoo_pg_db }}
      - UNACCENT=True
      - |
        ADDITIONAL_ODOO_RC=
        {%- for line in custom_config %}
        {{ line }}
        {% endfor %}
        [queue_job]
        channels = {{ channels }}
      - WORKERS={{ odoo_queue_job_workers }}
      - MAX_CRON_THREADS={{ odoo_queue_job_max_cron_threads }}
      - LIST_DB=False
      - WITHOUT_DEMO=True
      - KWKHTMLTOPDF_SERVER_URL=http://kwkhtmltopdf:8080
      - ODOO_REPORT_URL=http://odoo:8069
      - RUNNING_ENV={{ running_env }}
      - ADMIN_PASSWD={{ master_password }}
      - SERVER_WIDE_MODULES={{odoo_server_wide_modules}},queue_job
      # - DB_MAXCONN=
      # - DB_MAXCONN_GEVENT=
      # - LIMIT_MEMORY_SOFT=
      # - LIMIT_MEMORY_SOFT_GEVENT=
      # - LIMIT_MEMORY_HARD=
      # - LIMIT_MEMORY_HARD_GEVENT=
      # - LIMIT_REQUEST=
      # - LIMIT_TIME_CPU=
      # - LIMIT_TIME_REAL=
      # - LIMIT_TIME_REAL_CRON=
      # - LOG_HANDLER=
      # - LOG_LEVEL=
      # - LOGFILE
      # - LOG_DB
    {%- else %}
      - POSTGRES_HOST=db
      - POSTGRES_PASSWORD={{ odoo_pg_password }}
      - POSTGRES_USER={{ odoo_pg_user }}
      - POSTGRES_DB={{ odoo_pg_db }}
    {%- endif %}
{% endif %}

  db:
    image: {{ pg_docker_image }}:{{ pg_docker_image_version }}
    restart: unless-stopped
    environment:
        POSTGRES_DB: {{ odoo_pg_db }}
        POSTGRES_USER: {{ odoo_pg_user }}
        POSTGRES_PASSWORD: {{ odoo_pg_password }}
    volumes:
      - ./pgdata:/var/lib/postgresql/data/
      - ./pg_init:/docker-entrypoint-initdb.d/
      - ./pg_dumps/:/pg_dumps/
    networks:
      - backend
    labels:
      docker-volume-dump.project: "{{ domain }}"
      docker-volume-dump.dbname: "{{ odoo_pg_db }}"
      docker-volume-dump.username: "{{ odoo_pg_user }}"

{% if smtp_fake_enable %}
  smtpfake:
    image: mailhog/mailhog
    environment:
      MH_UI_WEB_PATH: "mailhog"
    networks:
      backend:
        aliases:
          - smtp.local
      traefik:
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}-smtpfake.rule=Host(`{{ domain }}`) && PathPrefix(`/mailhog`)"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}-smtpfake.priority=2"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}-smtpfake.tls=true"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}-smtpfake.tls.certresolver=leresolver"
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}-smtpfake.entrypoints=web, websecure"
      - "traefik.http.services.odoo-{{ domain|replace('.', '-') }}-smtpfake-service.loadbalancer.server.port=8025"
    {%- if smtp_fake_user %}
      - "traefik.http.routers.odoo-{{ domain|replace('.', '-') }}-smtpfake.middlewares=odoo-{{ domain|replace('.', '-') }}-smtpfake-auth"
      - "traefik.http.middlewares.odoo-{{ domain|replace('.', '-') }}-smtpfake-auth.basicauth.users={{ smtp_fake_user }}"
    {%- endif %}
{% endif %}

networks:
  backend:
  {%- if odoo_external_wkhtml_container %}
  kwkhtmltopdf:
  {%- endif %}
  traefik:
    external: true
    name: traefik
