[options]
{%- for line in custom_config %}
{{ line }}
{%- endfor %}
admin_passwd = {{ master_password }}
data_dir = /var/lib/odoo/filestore
addons_path = /ocb/odoo/addons,/var/lib/odoo/addons,/var/lib/odoo/addons-contrib,/var/lib/odoo/addons-useless
db_host = db
db_port = 5432
db_user = {{ odoo_pg_user }}
db_password = {{ odoo_pg_password }}
db_name = {{ odoo_pg_db }}
dbfilter = ^{{ odoo_pg_db }}$
db_maxconn = 64
list_db = false
proxy_mode = true
{% if smtp_fake_enable %}
smtp_server = smtp.local
smtp_port = 1025
smtp_user = false
smtp_password = false
smtp_ssl = false
email_from =
{% endif %}
without_demo = all
http_enable = True
http_port = 8069
http_interface = 0.0.0.0
workers = {{ odoo_workers }}
limit_memory_hard = 2684354560
limit_memory_soft = 2147483648
limit_request = 8192
limit_time_cpu = 600
limit_time_real = 120
limit_time_real_cron = 600
log_db = False
log_db_level = warning
log_handler = :INFO
log_level = info
logfile = 
longpolling_port = 8072
max_cron_threads = {{ odoo_max_cron_threads }}
