[Unit]
Description={{ service_name }}: Tunnel service to get services from outside
After=network.target

[Service]
Type=simple
ExecStart=openvpn --config {{ ovpn_path }} --auth-user-pass {{ ovpn_pass_file_path }}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
