
version: "3.3"
services:
{%- if with_smtp %}
  mail:
    image: bytemark/smtp
    restart: always
    environment:
        MAILER_EMAIL: "{{ plausible_mail_mailer_email }}"
        SMTP_HOST_ADDR: "{{ plausible_mail_smtp_host_addr }}"
        SMTP_HOST_PORT: {{ plausible_mail_smtp_host_port }}
        SMTP_USER_NAME: "{{ plausible_mail_smtp_user_name }}"
        SMTP_USER_PWD: "{{ plausible_mail_smtp_user_pwd }}"
        SMTP_HOST_SSL_ENABLED: {{ plausible_mail_smtp_host_ssl_enabled }}
        SMTP_RETRIES: {{ plausible_mail_smtp_retries }}
    networks:
      - backend
{%- endif %}

  plausible_db:
    image: {{ pg_docker_image }}:{{ pg_docker_image_version }}
    restart: unless-stopped
    environment:
        POSTGRES_DB: {{ plausible_pg_db }}
        POSTGRES_USER: {{ plausible_pg_user }}
        POSTGRES_PASSWORD: {{ plausible_pg_password }}
    volumes:
      - ./pgdata:/var/lib/postgresql/data/
      - ./pg_init:/docker-entrypoint-initdb.d/
      - ./pg_dumps/:/pg_dumps/
    networks:
      - backend
    labels:
      docker-volume-dump.project: "{{ domain }}"
      docker-volume-dump.dbname: "{{ plausible_pg_db }}"
      docker-volume-dump.username: "{{ plausible_pg_user }}"


  plausible_events_db:
    image: clickhouse/clickhouse-server:22.6-alpine
    restart: always
    volumes:
      - ./event-data:/var/lib/clickhouse
      - ./clickhouse/clickhouse-config.xml:/etc/clickhouse-server/config.d/logging.xml:ro
      - ./clickhouse/clickhouse-user-config.xml:/etc/clickhouse-server/users.d/logging.xml:ro
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    networks:
      - backend
    # labels:
    #   - "docker-volume-dump.project={{ domain }}"
    #   - "docker-volume-dump.driver=rsync"

  plausible:
    image: {{ plausible_image }}:{{ plausible_image_version }}
    restart: always
    command: sh -c "/entrypoint.sh run"
    depends_on:
      - plausible_db
      - plausible_events_db
      {%- if with_smtp %}
      - mail
      {%- endif %}
      {%- if maxmindinc %}
      - geoip
      {%- endif %}
    expose:
      - 8000
  {%- if maxmindinc %}
    volumes:
      - ./geoip:/geoip:ro
  {%- endif %}
    environment:
      - ADMIN_USER_EMAIL={{ plausible_admin_user_email }}
      - ADMIN_USER_NAME={{ plausible_admin_user_name }}
      - BASE_URL=https://{{ domain }}
      - DATABASE_URL=postgres://{{ plausible_pg_user }}:{{ plausible_pg_password }}@plausible_db:5432/{{ plausible_pg_db }}
      - SECRET_KEY_BASE={{ plausible_secret_key_base }}
    {%- if maxmindinc %}
      - GEOLITE2_COUNTRY_DB=/geoip/GeoLite2-Country.mmdb
    {%- endif %}
    networks:
      - backend
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.plausible.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.plausible.priority=1"
      - "traefik.http.routers.plausible.tls=true"
      - "traefik.http.routers.plausible.tls.certresolver=leresolver"
      - "traefik.http.routers.plausible.entrypoints=web, websecure"
      - "traefik.http.routers.plausible.service=plausible-service"
      - "traefik.http.services.plausible-service.loadbalancer.server.port=8000"

  {%- if maxmindinc %}
    image: maxmindinc/geoipupdate
    restart: always
    environment:
      - GEOIPUPDATE_EDITION_IDS=GeoLite2-Country
      - GEOIPUPDATE_FREQUENCY=168 # update every 7 days
      {# - GEOIPUPDATE_ACCOUNT_ID=<your-account-id> #}
      {# - GEOIPUPDATE_LICENSE_KEY=<your-license-key> #}
    volumes:
      - ./geoip:/usr/share/GeoIP #}
  {%- endif %}


networks:
  backend:
  traefik:
    external:
      name: traefik
