services:

  {{service_name }}:
    image: {{ image }}:{{ version }}
    restart: unless-stopped
    networks:
      - traefik
    volumes:
      - {{ host_volume_path }}:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ traefik_network }}"
      - "traefik.http.routers.{{ service_name }}.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.{{ service_name }}.tls=true"
      - "traefik.http.routers.{{ service_name }}.tls.certresolver=leresolver"
      - "traefik.http.routers.{{ service_name }}.entrypoints=web, websecure"
{%- if basic_auth %}
      - "traefik.http.routers.{{ service_name }}.middlewares={{ service_name }}-auth"
      - "traefik.http.middlewares.{{ service_name }}-auth.basicauth.users={{ basic_auth }}"
{%- endif %}
{%- if auth %}
      - 'traefik.http.routers.{{ service_name }}.middlewares=authelia-{{ auth }}@docker'
{%- endif %}

networks:
  traefik:
    external: true
    name: {{ traefik_network }}
