identity_validation:
  reset_password:
    jwt_secret: {{ jwt_secret }}


server:
  address: tcp://:9091/

log:
  level: info

{{ access_control }}

# The authentication backend to use for verifying user passwords
# and retrieve information such as email address and groups
# users belong to.
#
# There are two supported backends: 'ldap' and 'file'.
authentication_backend:
  # Disable both the HTML element and the API for reset password functionality
  password_reset:
    disable: false
  # The amount of time to wait before we refresh data from the authentication backend. Uses duration notation.
  # To disable this feature set it to 'disable', this will slightly reduce security because for Authelia, users
  # will always belong to groups they belonged to at the time of login even if they have been removed from them in LDAP.
  # To force update on every request you can set this to '0' or 'always', this will increase processor demand.
  # See the below documentation for more information.
  # Duration Notation docs:  https://docs.authelia.com/configuration/index.html#duration-notation-format
  # Refresh Interval docs: https://docs.authelia.com/configuration/authentication/ldap.html#refresh-interval
  refresh_interval: 5m

  # LDAP backend configuration.
  #
  # This backend allows Authelia to be scaled to more
  # than one instance and therefore is recommended for
  # production.
  ldap:
    # The LDAP implementation, this affects elements like the attribute utilised for resetting a password.
    # Acceptable options are as follows:
    # - 'activedirectory' - For Microsoft Active Directory.
    # - 'custom' - For custom specifications of attributes and filters.
    # This currently defaults to 'custom' to maintain existing behaviour.
    #
    # Depending on the option here certain other values in this section have a default value, notably all
    # of the attribute mappings have a default value that this config overrides, you can read more
    # about these default values at https://docs.authelia.com/configuration/authentication/ldap.html#defaults
    implementation: custom

    # The url to the ldap server. Scheme can be ldap or ldaps in the format (port optional) <scheme>://<address>[:<port>].
    address: {{ ldap }}

    # Use StartTLS with the LDAP connection.
    start_tls: false

    tls:
      # Server Name for certificate validation (in case it's not set correctly in the URL).
      # server_name: ldap.example.com

      # Skip verifying the server certificate (to allow a self-signed certificate).
      skip_verify: false

      # Minimum TLS version for either Secure LDAP or LDAP StartTLS.
      minimum_version: TLS1.2

    # The base dn for every entries.
    base_dn: {{ base_dn }}
    
    attributes:
    # The attribute holding the username of the user. This attribute is used to populate
      # the username in the session information. It was introduced due to #561 to handle case
      # insensitive search queries.
      # For you information, Microsoft Active Directory usually uses 'sAMAccountName' and OpenLDAP
      # usually uses 'uid'
      # Beware that this attribute holds the unique identifiers for the users binding the user and the configuration
      # stored in database. Therefore only single value attributes are allowed and the value
      # must never be changed once attributed to a user otherwise it would break the configuration
      # for that user. Technically, non-unique attributes like 'mail' can also be used but we don't recommend using
      # them, we instead advise to use the attributes mentioned above (sAMAccountName and uid) to follow
      # https://www.ietf.org/rfc/rfc2307.txt.
      username: uid
        
      # The attribute holding the name of the group
      group_name: cn

      # The attribute holding the mail address of the user. If multiple email addresses are defined for a user, only the first
      # one returned by the LDAP server is used.
      mail: mail

      # The attribute holding the display name of the user. This will be used to greet an authenticated user.
      display_name: displayName

    # An additional dn to define the scope to all users.
    additional_users_dn: ou=people

    # The users filter used in search queries to find the user profile based on input filled in login form.
    # Various placeholders are available to represent the user input and back reference other options of the configuration:
    # - {input} is a placeholder replaced by what the user inputs in the login form. 
    # - {username_attribute} is a mandatory placeholder replaced by what is configured in `username_attribute`.
    # - {mail_attribute} is a placeholder replaced by what is configured in `mail_attribute`.
    # - DON'T USE - {0} is an alias for {input} supported for backward compatibility but it will be deprecated in later versions, so please don't use it.
    #
    # Recommended settings are as follows:
    # - Microsoft Active Directory: (&({username_attribute}={input})(objectCategory=person)(objectClass=user))
    # - OpenLDAP: (&({username_attribute}={input})(objectClass=person))' or '(&({username_attribute}={input})(objectClass=inetOrgPerson))
    #
    # To allow sign in both with username and email, one can use a filter like
    # (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))
    users_filter: (&({username_attribute}={input})(objectClass=inetOrgPerson))

    # An additional dn to define the scope of groups.
    additional_groups_dn: ou=groups
    
    # The groups filter used in search queries to find the groups of the user.
    # - {input} is a placeholder replaced by what the user inputs in the login form.
    # - {username} is a placeholder replace by the username stored in LDAP (based on `username_attribute`).
    # - {dn} is a matcher replaced by the user distinguished name, aka, user DN.
    # - {username_attribute} is a placeholder replaced by what is configured in `username_attribute`.
    # - {mail_attribute} is a placeholder replaced by what is configured in `mail_attribute`.
    # - DON'T USE - {0} is an alias for {input} supported for backward compatibility but it will be deprecated in later versions, so please don't use it.
    # - DON'T USE - {1} is an alias for {username} supported for backward compatibility but it will be deprecated in later version, so please don't use it.
    # If your groups use the `groupOfUniqueNames` structure use this instead: (&(uniquemember={dn})(objectclass=groupOfUniqueNames))
    groups_filter: (&(member={dn})(objectclass=groupOfNames))

    # The username and password of the admin user.
    user: {{ldap_user}}
    # Password can also be set using a secret: https://docs.authelia.com/configuration/secrets.html
    password: {{ldap_password}}

regulation:
  # The number of failed login attempts before user is banned.
  # Set it to 0 to disable regulation.
  max_retries: 3

  # The time range during which the user can attempt login before being banned.
  # The user is banned if the authentication failed `max_retries` times in a `find_time` seconds window.
  # Find Time accepts duration notation. See: https://docs.authelia.com/configuration/index.html#duration-notation-format
  find_time: 2m

  # The length of time before a banned user can sign in again.
  # Find Time accepts duration notation. See: https://docs.authelia.com/configuration/index.html#duration-notation-format
  ban_time: 5m

# Configuration of the notification system.
#
# Notifications are sent to users when they require a password reset, a u2f
# registration or a TOTP registration.
# Use only an available configuration: filesystem, smtp.
notifier:
  # You can disable the notifier startup check by setting this to true
  disable_startup_check: true

{%- if not smtp_host %}
  # For testing purpose, notifications can be sent in a file.
  filesystem:
    filename: /tmp/notification.txt
{%- endif %}

{%- if smtp_host %}
  # Use a SMTP server for sending notifications. Authelia uses PLAIN or LOGIN method to authenticate.
  # [Security] By default Authelia will:
  #   - force all SMTP connections over TLS including unauthenticated connections
  #      - use the disable_require_tls boolean value to disable this requirement (only works for unauthenticated connections)
  #   - validate the SMTP server x509 certificate during the TLS handshake against the hosts trusted certificates (configure in tls section)
  
  smtp:
    username: {{ smtp_user }}
    # Password can also be set using a secret: https://docs.authelia.com/configuration/secrets.html
    password: {{ smtp_password }}
    host: {{ smtp_host }}
    port: {{ smtp_port }}
    sender: {{ smtp_sender }}
    # HELO/EHLO Identifier. Some SMTP Servers may reject the default of localhost.
    identifier: localhost
    # Subject configuration of the emails sent.
    # {title} is replaced by the text from the notifier
    subject: "[Connexion] {title}"
    # This address is used during the startup check to verify the email configuration is correct. 
    # It's not important what it is except if your email server only allows local delivery.
    startup_check_address: pierreverkest84@gmail.com
    disable_require_tls: false
    disable_html_emails: false
  
    tls:
      # Server Name for certificate validation (in case you are using the IP or non-FQDN in the host option).
      # server_name: smtp.example.com
  
      # Skip verifying the server certificate (to allow a self-signed certificate).
      skip_verify: false

  #
  # Sending an email using a Gmail account is as simple as the next section.
  # You need to create an app password by following: https://support.google.com/accounts/answer/185833?hl=en
  ## smtp:
  ##   username: myaccount@gmail.com
  ##   # Password can also be set using a secret: https://docs.authelia.com/configuration/secrets.html
  ##   password: yourapppassword
  ##   sender: admin@example.com
  ##   host: smtp.gmail.com
  ##   port: 587
{%- endif %}


session:
  # The name of the session cookie. (default: authelia_session).
  name: forwarded_auth_sessoin

  # The secret to encrypt the session data. This is only used with Redis.
  # Secret can also be set using a secret: https://docs.authelia.com/configuration/secrets.html
  # secret: unsecure_session_secret

  # The time in seconds before the cookie expires and session is reset.
  expiration: 1h

  # The inactivity time in seconds before the session is reset.
  inactivity: 5m

  # The remember me duration.
  # Value of 0 disables remember me.
  # Value is in seconds, or duration notation. See: https://docs.authelia.com/configuration/index.html#duration-notation-format
  # Longer periods are considered less secure because a stolen cookie will last longer giving attackers more time to spy
  # or attack. Currently the default is 1M or 1 month.
  remember_me:  1M


  cookies:
      # The domain to protect.
      # Note: the login portal must also be a subdomain of that domain.
    - domain: {{ authelia_protected_domain }}
      authelia_url: {{ authelia_url }}
      default_redirection_url: {{ default_redirection_url }}

  # The redis connection details (optional)
  # If not provided, sessions will be stored in memory
  # redis:
  #   host: 127.0.0.1
  #   port: 6379
  #   # Use a unix socket instead
  #   # host: /var/run/redis/redis.sock
  #   
  #   # Password can also be set using a secret: https://docs.authelia.com/configuration/secrets.html
  #   password: authelia

storage:
  encryption_key: {{ storage_ecnryption_key }}
  postgres:
    address: authelia-storage:5432
    database: authelia
    schema: public
    username: authelia
    # Password can also be set using a secret: https://docs.authelia.com/configuration/secrets.html
    password: {{ storage_secret }}
