[serversTransport]
  maxIdleConnsPerHost = 25

# in fact my transport config hasn't been take in consideration
# [http]
#   [http.serversTransports]
#     [http.serversTransports.nextcloudTransport]
#       maxIdleConnsPerHost = 30
#       [http.serversTransports.nextcloudTransport.forwardingTimeouts]
#         idleConnTimeout = "300s"
#         responseHeaderTimeout = "0"
#         dialTimeout = "45s"

[entryPoints]
  [entryPoints.web]
    address = ":80"
    [entryPoints.web.transport]
      [entryPoints.web.transport.respondingTimeouts]
        # https://doc.traefik.io/traefik/routing/entrypoints/#respondingtimeouts
        readTimeout = 600
        writeTimeout = 600

    [entryPoints.web.http]
        [entryPoints.web.http.redirections]
        [entryPoints.web.http.redirections.entryPoint]
            to = "websecure"
            scheme = "https"
            permanent = true
            # 1 should be the default
            # if you want your rule taking account use greater
            # (likes 10) value in the service router config
            priority = 1

  [entryPoints.websecure]
    address = ":443"
    [entryPoints.websecure.transport]
      [entryPoints.websecure.transport.respondingTimeouts]
        # https://doc.traefik.io/traefik/routing/entrypoints/#respondingtimeouts
        readTimeout = 600
        writeTimeout = 600

  [entryPoints.ldap]
    address = ":636/tcp"
    [entryPoints.ldap.transport]
      [entryPoints.ldap.transport.respondingTimeouts]
        # https://doc.traefik.io/traefik/routing/entrypoints/#respondingtimeouts
        readTimeout = 5
        writeTimeout = 600


[providers]
  [providers.docker]
    # containers that don't have a traefik.enable=true label will
    # be ignored from the resulting routing configuration.
    exposedByDefault = false
    endpoint = "unix:///var/run/docker.sock"
    network = "{{ traefik_network }}"

{%- if has_redirections %}
  [providers.file]
    filename = "/etc/traefik/redirections.toml"
{%- endif %}

[certificatesResolvers.leresolver.acme]
  caServer = "{{ le_acme_server }}"
  email = "{{ traefik_acme_email }}"
  storage = "/certs/acme.json"
  [certificatesResolvers.leresolver.acme.httpChallenge]
    entryPoint = "web"

[api]
  dashboard = true


{%- if enable_prometheus %}
[metrics]
  [metrics.prometheus]
    manualRouting = true
{%- endif %}