
services:

  reverse-proxy:
    image: {{ image }}:{{ version }}
    command: --providers.docker
    restart: unless-stopped
{%- if with_authelia %}
    depends_on:
      - authelia
{%- endif %}
    ports:
      - "80:80"
      - "443:443"
      # get upset to configure traefik, I was getting traefik cert instead
      # the one from LE
      # - "636:636"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/etc/traefik/traefik.toml
{%- if has_redirections %}
      - ./redirections.toml:/etc/traefik/redirections.toml
{%- endif %}
      - ./certs/:/certs/
    networks:
      - {{ traefik_network }}
{%- if with_authelia %}
      - authelia
{%- endif %}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ traefik_network }}"
      - "traefik.http.routers.dashboard.rule=Host(`{{ domain }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.tls=true"
      - "traefik.http.routers.dashboard.tls.certresolver=leresolver"
      - "traefik.http.routers.dashboard.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.users={{ users }}"
{%- if prometheus_domain %}
      - "traefik.http.routers.prometheus-metrics.rule=Host(`{{ prometheus_domain }}`)"
      - "traefik.http.routers.prometheus-metrics.service=prometheus@internal"
      - "traefik.http.routers.prometheus-metrics.tls=true"
      - "traefik.http.routers.prometheus-metrics.tls.certresolver=leresolver"
{%- endif %}
{%- if prometheus_domain and prometheus_users %}
      - "traefik.http.routers.prometheus-metrics.middlewares=traefik-prom-auth"
      - "traefik.http.middlewares.traefik-prom-auth.basicauth.users={{ prometheus_users }}"
{%- endif %}

{% if with_authelia %}
  authelia:
    image: {{ authelia_image }}:{{ authelia_image_version }}
    restart: unless-stopped
    volumes:
      - ./authelia.yml:/config/configuration.yml
    networks:
      authelia:
        aliases:
          - authelia.local
      {{ traefik_network }}:
    expose:
      - 9091
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=traefik'
      - 'traefik.http.routers.authelia.rule=Host(`{{ authelia_login_domain }}`)'
      - 'traefik.http.routers.authelia.entrypoints=web, websecure'
      - 'traefik.http.routers.authelia.tls=true'
      - 'traefik.http.routers.authelia.tls.certresolver=leresolver'
      - 'traefik.http.routers.authelia.service=authelia-service'
      - 'traefik.http.services.authelia-service.loadbalancer.server.port=9091'
      - 'traefik.http.middlewares.authelia-login.forwardauth.address=http://authelia.local:9091/api/verify?rd=https://{{ authelia_login_domain }}/'
      - 'traefik.http.middlewares.authelia-login.forwardauth.trustForwardHeader=true'
      - 'traefik.http.middlewares.authelia-login.forwardauth.authResponseHeaders=Remote-User, Remote-Groups, Remote-Name, Remote-Email'
      - 'traefik.http.middlewares.authelia-basic.forwardauth.address=http://authelia.local:9091/api/verify?auth=basic'
      - 'traefik.http.middlewares.authelia-basic.forwardauth.trustForwardHeader=true'
      - 'traefik.http.middlewares.authelia-basic.forwardauth.authResponseHeaders=Remote-User, Remote-Groups, Remote-Name, Remote-Email'
    environment:
      - TZ={{ authelia_tz }}

  authelia-storage:
    image: postgres:15
    restart: unless-stopped
    environment:
        POSTGRES_DB: authelia
        POSTGRES_USER: authelia
        POSTGRES_PASSWORD: {{ authelia_storage_secret }}
    volumes:
      - ./pgdata:/var/lib/postgresql/data/
    networks:
      - authelia
    labels:
      docker-volume-dump.project: "{{ authelia_login_domain }}"
      docker-volume-dump.dbname: "authelia"
      docker-volume-dump.username: "authelia"
{%- endif %}

networks:
{%- if with_authelia %}
  authelia:
{%- endif %}
  {{ traefik_network }}:
    external: true
    name: {{ traefik_network }}
