#!/bin/bash
while : 
do
    echo "Ouverture du tunnel $(date)"
    ssh -i {{ ssh_tunnel_private_key }} {% for tun in tunnels %}-R {{ tun }} {% endfor %} -N  -o StrictHostKeyChecking=no -o ServerAliveInterval=5 -o ServerAliveCountMax=2 tunnel@{{ tunnel_ssh_server }} -p {{ tunnel_ssh_server_port }}
    echo "Fermeture du tunnel $(date)"
    sleep 1
done
