[Unit]
Description={{ service_name }}: Tunnel service to get services from outside
After=network.target

[Service]
Type=simple
ExecStart={{ script_path }}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
