services:

  sshd-tunnel-server:
    restart: unless-stopped
    image: {{ image }}:{{ version }}
    environment:
      GATEWAY_PORTS: "true"
      DISABLE_SFTP: "true"
      TCP_FORWARDING: "true"
      SSH_USERS: "tunnel:1000:1000:/bin/true" 
    volumes:
      - ./authorized_keys:/etc/authorized_keys/tunnel:ro 
      - ./keys/:/etc/ssh/keys
      - ./sshd_config:/etc/ssh/sshd_config:ro
    ports:
      # ssh access to docker container to create tunnel
      - "2222:22"
    {%- for port in ports %}
      - "{{ port }}"
    {%- endfor %}
